.language,
.help,
.key {
  padding: 10px 8px 10px 16px;
  font-weight: 400;

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.menu {
  width: 224px;
}

.keyboard {
  padding-bottom: 8px;
}

.icon {
  padding-right: 10px;
}
